[submodule "assignments-3-and-later-Ian0813"]
	path = assignments-3-and-later-Ian0813
	url = https://github.com/cu-ecen-aeld/assignments-3-and-later-Ian0813
[submodule "assignment-5-Ian0813"]
	path = assignment-5-Ian0813
	url = https://github.com/cu-ecen-aeld/assignment-5-Ian0813
[submodule "assignment-4-Ian0813"]
	path = assignment-4-Ian0813
	url = https://github.com/cu-ecen-aeld/assignment-4-Ian0813
[submodule "assignment-2-Ian0813"]
	path = assignment-2-Ian0813
	url = https://github.com/cu-ecen-aeld/assignment-2-Ian0813
[submodule "assignment-1-Ian0813"]
	path = assignment-1-Ian0813
	url = https://github.com/cu-ecen-aeld/assignment-1-Ian0813
